body {
    background-image: url('background image.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    margin: 0;
    padding: 20px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

p {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 10px;
}

.btn {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #f04;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}
